body {
    margin: 5%;
    border: 10%;
}



h1 {
    padding: 25px;
    padding-bottom: 5%;
    font-size: 250%;
}


section {
    padding: 5%;
    margin: 5%;
    padding-bottom: 20%;
    border: solid rgb(48, 37, 37);
    border-radius: 10px;
    border: solid black;
    display: flex;
}
nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}