nav {
    background: linear-gradient(#b1a7a7, #9198e5);
    justify-content: center;
    align-items: center;
}
img {
    justify-content: center;
    align-items: center;
    display: inline-block;
}
button {
    flex-direction: row;
    
}
div.b {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;   
    background-color: #6b71c6;
    margin: auto;
    margin-top: 35px;
    padding: 5px;
    border-radius: 1em;
}
.hero-text{
    text-align: center;
    justify-content: center;
    align-items: center;
}
body{
    background: linear-gradient(#b1a7a7, #9198e5);
}
footer{
    background-color: gray;
}
